@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf')
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', monospace;

  color: #fff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}
